@using Organic_Shop_project.ViewModels.Shop;
@model ShopIndexViewModel;


@{
    foreach (var categoryComponent in Model.Components)
    {
        <a style="text-align:center;">
            <tr class="col-lg-4 text-align-center">

                <td>
                    <div>

                        <span style="float:right; color:white;background-color: green; border:1px solid green;position:absolute; border-radius:50%; padding:2px; margin: 5px 0 0 5px !important; z-index:100;">@categoryComponent.status</span>
                        <img style="width:250px;height:250px;object-fit:cover; z-index:99; position:relative;" class="img-thumbnail" src="~/src/img/@categoryComponent.FilePath" />
                    </div>
                </td>

                <td><h6 style="font-weight:300;font-size:13px;">@categoryComponent?.Category?.Title</h6></td>

                <td><h5 style="font-size:17px;">@categoryComponent?.Name</h5></td>
                <td>
                    <h6 style="color:green; font-weight:700;">
                        <span class="woocommerce-Price-currencySymbol">£</span>
                        <span>@categoryComponent?.Price</span>
                    </h6>
                </td>
            </tr>
            <button class="addBasketBtn" data-id="@categoryComponent?.Id" style="background-color:green; color:white; border: 1px solid green;"><i style="margin: 0  5px 0 0" class="fa-solid fa-cart-plus"></i>Add to Cart</button>
            <hr>



            <div class="dropdown " style="width:1200px !important; height: 700px !important">
                <img>
                <h3>@categoryComponent?.Name</h3>
                <span class="woocommerce-Price-currencySymbol">£</span><h5>@categoryComponent?.Price</h5><span>+Free Shipping</span>
                <h6>@categoryComponent?.Description</h6>
                <button>@categoryComponent?.Quantity</button>

            </div>
        </a>
    }
}
